section{
    .palmaresIzquierda{
        @include flex(column, center, center, none);
        display: flex;
        height: 18.75rem;
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(172,159,57,1) 52%, rgba(0,0,0,1) 99%);
        box-shadow: 0 0 .625rem rgba(172,159,57,1);
        .imagenMundial{
            margin-top: -1.5rem;
            height: 7.5rem;
            padding: 0 0 .9375rem 0;
            border-right: none;
        }
        .munNum{
            margin: -3.125rem -1.5625rem .9375rem 0;
            width: 2.1875rem;
            height: 2.1875rem;
        }
        .numPan{
            margin-top: -45px;
        }
        div{
            @include flex(none, flex-start, none, none);
            height: auto;
            width: 80%;
            box-shadow: 0 0 .625rem white;
            margin-bottom: -1.875rem;
            p{
                height: 8.75rem;
            }
        }
    }
    .palmaresDerecha{
        height: 19.375rem;
        .imagenCa{
            margin: -1.875rem 0 0 0;
            border-left: none;
        }
        .numCa{
            font-size: 1.25rem;
            margin: -2.8125rem -1.875rem 15px 0;
            width: 2.5rem;
            height: 2.5rem;
            padding: .375rem 0 0 0;
        }
        .numConf{
            margin-top: -2.8125rem
        }
        div{
            @include flex(none, flex-end, none, none);
            height: auto;
            overflow-x: scroll;
            p{
                height: 8.75rem;
                width: 34.375rem;
            }
        }
    }
}
